<% user_id = current_user.id %>
<% postsCounter = 0 %>

<% @postsType.each do |post| %>
	<% postsCounter += 1 %>
	<% postId = 'post' + post.id.to_s %>

	<div class="post" id="<%= postId %>">

		<% buttonReactionId = 'reactionPost'+post.id.to_s+"_" %>
		<% counterReactionId = 'counterPost'+post.id.to_s+"_" %>
		<% ownerPost_id = post.user_id %>

    	<div class="card">
    		<span class="openPost"><%= link_to dashboards_showPost_path(:post_id => post.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target'=>'#postModal', :class => "openPostLink"} do %>
    		<% end %></span>

    		<div class="card-header" id="cardHeaderPost">
	    			<%= link_to dashboards_userProfile_path(:id => post.user_id) do %>
						<% if post.user.profilePicture.attached? %>
					        	<%= image_tag post.user.profilePicture, :style => "position:relative;width:48.5px;height:48.5px;border-radius:100%;"%>
					    <% else %>
						    <div class="userProfile" id="postUserPicture" style="z-index: 1;position: relative;">
								<div class="userIcon">
									<i class="fas fa-user" style="color: white;font-size: 35px;margin-left: 9.5px;margin-top: 6px;"></i>
								</div>
							</div>
						<% end %>
					<% end %>

    			<%= link_to  post.user.name, dashboards_userProfile_path(:id => post.user_id), :id => "cardHeaderPostLink", style: "margin-left:10px;" %>
    			<%= link_to  post.user.username, dashboards_userProfile_path(:id => post.user_id), :id => "cardHeaderPostLink", style: "color:lightgray;margin-left:10px;" %>
    			<a style="color:lightgray;margin-top: 12px;margin-left: 5px;font-size: 16px;"> -  <%= Post.getTime(post.created_at.localtime) %></a>

    			<li class="nav-item dropdown" style="position:absolute;right:0;color: transparent;">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position:absolute;top:0;right: 0;color: white;">
			        </a>

			        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="position:relative;z-index: 3;">

			        	<a class="dropdown-item" onclick="hidePost('<%= postId %>')" style="cursor:pointer;">Esconder</a>

	          			<% if post.user_id == current_user.id %>
		    				<%= link_to "Deletar", post_path(:id => post.id),:remote => true, :method => "delete", data: { confirm: "Tem certeza que deseja deletar a postagem?" }, :class => "dropdown-item" %>
		    			<% end %>

			        </div>
			      </li>

		    </div>

		    <div class="card-body" id="cardBodyPost" >
		    	<% if post.content.present? %>
		      	  <%= post.content %>
		        <% end %>
		        <% if post.image.attached? %>
		        	<div class="postImage">
		        		<%= image_tag post.image, :style => "position:relative;max-width:100%;margin-left:auto;margin-right:auto;", 
		        		:onclick => "showImage(this)"%>
		        	</div>
		        <% end %>
		        <% if post.post_id.present? %>
		        	<% if Post.where(id:post.post_id).present? %>
			        	<% sharedPost = Post.find(post.post_id) %>
			        	<div class="card" style="margin-bottom: -40px;border:1px solid #656565;">
				    		<span class="openPost"><%= link_to dashboards_showPost_path(:post_id => sharedPost.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target'=>'#postModal', :class => "openPostLink"} do %>
				    		<% end %></span>

				    		<div class="card-header" id="cardHeaderPost">
					    			<%= link_to dashboards_userProfile_path(:id => sharedPost.user_id) do %>
										<% if sharedPost.user.profilePicture.attached? %>
									        	<%= image_tag sharedPost.user.profilePicture, :style => "position:relative;width:48.5px;height:48.5px;border-radius:100%;margin-top:-80px"%>
									    <% else %>
										    <div class="userProfile" id="postUserPicture" style="z-index: 1;margin-top:-42px;position: relative;">
												<div class="userIcon" style="margin-top:-83px">
													<i class="fas fa-user" style="color: white;font-size: 35px;margin-left: 9.5px;margin-top: 6px;"></i>
												</div>
											</div>
										<% end %>
									<% end %>

				    			<%= link_to  sharedPost.user.name, dashboards_userProfile_path(:id => sharedPost.user_id), :id => "cardHeaderPostLink" %>
				    			<%= link_to  sharedPost.user.username, dashboards_userProfile_path(:id => post.user_id), :id => "cardHeaderPostLink", style: "color:lightgray;" %>
				    			<a style="color:lightgray;margin-top: 12px;margin-left: 5px;font-size: 16px;"> -  <%= Post.getTime(post.created_at.localtime) %></a>

						    </div>

						    <div class="card-body" id="cardBodyPost">
						    	<% if sharedPost.content.present? %>
						      	  <%= sharedPost.content %>
						        <% end %>
						        <% if sharedPost.image.attached? %>
						        	<div class="postImage">
						        		<%= image_tag sharedPost.image, :style => "position:relative;max-width:100%;margin-left:auto;margin-right:auto;", 
						        		:onclick => "showImage(this)"%>
						        	</div>
						        <% end %>
						        <% if sharedPost.post_id.present? %>
						        	<div class="card" style="margin-bottom: -40px;border:1px solid #656565;">
										<div class="card-body">
											...
										</div>
									</div>
						        <% end %>
						    </div>

						</div>
					<% else %>
						<div class="card" style="margin-bottom: -40px;">
							<div class="card-body">
								Esta Postagem foi deletada
							</div>
						</div>
					<% end %>
		        <% end %>
		    </div>

		 	<div class="card-footer" id="cardFooterPost">
		 		
		 		<% @reaction = @reactionsTimeline.where(owner_id:post.id, owner_type:"Post").first %>
				<% @colorWhite = "white;" %>
				<% if  @reaction %>
					<% @type = @reaction.reactionType %>
        		<% else %>
        			<% @type = "" %>
        		<% end %>


		        <%= form_with url: "/reactions", authenticity_token: false do |f|%>
			       	<input name="user_id" type="hidden", value="<%= current_user.id %>" />
			       	<input name="owner_id" type="hidden", value="<%= post.id %>" />
			       	<input name="owner_type" type="hidden", value="Post" />

					<div class="reaction" style="left:0;">
				       	<ul>
							<a>
   								<li class="reaction-menu">
   									
						        	<div class="actions">
						        		<button  onclick="changeReaction(this, <%= post.id %>, 'Post',<%= user_id %>, <%= ownerPost_id %>)" class="mdc-icon-button material-icons" value="type1" name="reactionType" style='<%= 'color:'+(@type == "type1" ? "#E91E63;" : @colorWhite) %>' id='<%=buttonReactionId+"type1"%>' data-disable="true">
						        			<% if @type == 'type1' %> 
						        				favorite
						        			<% else %>
						        				favorite_border
						        			<% end %>
						        		</button>
									</div>
								</li>
							</a>
						</ul>
						<ul>
							<a>
									<li class="reaction-menu" id=<%= counterReactionId+"type1" %>>
						   			<%= post.reactionType1 %>
						   		</li>
						 	</a>
						 </ul>
					</div>

					<div class="reaction" style="margin-left: 20px;">
				       	<ul>
							<a>
   								<li class="reaction-menu">
						        	<div class="actions">
						        		<button  onclick="changeReaction(this, <%= post.id %>, 'Post',<%= user_id %>, <%= ownerPost_id %>)"  class="mdc-icon-button material-icons" value="type2" name="reactionType" style='<%= 'color:'+(@type == "type2" ? "red;" : @colorWhite)%>'  id='<%=(buttonReactionId+"type2")%>' data-disable="true" >
						        			whatshot
						        		</button>
									</div>
								</li>
							</a>
						</ul>
						<ul>
							<a>
									<li class="reaction-menu" id=<%= counterReactionId+"type2" %>>
						   			<%= post.reactionType2 %>
						   		</li>
						 	</a>
						 </ul>
					</div>

					<div class="reaction" style="margin-left: 50px;">
				       	<ul>
							<a>
   								<li class="reaction-menu">
						        	<div class="actions">
						        		<button  onclick="changeReaction(this, <%= post.id %>, 'Post',<%= user_id %>, <%= ownerPost_id %>)" class="mdc-icon-button material-icons" value="type3" name="reactionType" style='<%= 'color:'+(@type == "type3" ? "#FFEB3B;" : @colorWhite)%>' id='<%=buttonReactionId+"type3"%>' data-disable="true" >
						        			tag_faces
						        		</button>
									</div>
								</li>
							</a>
						</ul>
						<ul>
							<a>
									<li class="reaction-menu" id=<%= counterReactionId+"type3" %>>
						   			<%= post.reactionType3 %>
						   		</li>
						 	</a>
						 </ul>
					</div>

					<div class="reaction" style="margin-left: 80px;">
				       	<ul>
							<a>
   								<li class="reaction-menu">
						        	<div class="actions">
						        		<button  onclick="changeReaction(this, <%= post.id %>, 'Post',<%= user_id %>, <%= ownerPost_id %>)" class="mdc-icon-button material-icons" value="type4" name="reactionType" style='<%= 'color:'+(@type == "type4" ? "#2196F3;": @colorWhite)%>' id='<%=buttonReactionId+"type4"%>' data-disable="true" >
						        			mood_bad
						        		</button>
									</div>
								</li>
							</a>
						</ul>
						<ul>
							<a>
									<li class="reaction-menu" id=<%= counterReactionId+"type4" %>>
						   			<%= post.reactionType4 %>
						   		</li>
						 	</a>
						 </ul>
					</div>
					
			 	<% end %>

			 	<%= link_to "Compartilhar", dashboards_sharePost_path(post_id:post.id), :remote => true, 'data-toggle' =>  "modal", 'data-target'=>'#postModal', class: "shareLink"%>
			 	
			 </div>

		</div>

	</div>

<% end %>

<% if postsCounter == 20 %>
	<button  id="loadMoreButton" onclick="loadDoc(<%= @lastPost_id %>, this, '<%= @pageType %>', <%= @optionalId %>, '<%= dashboards_renderMore_path %>')">
		Carregar Mais
	</button>
<% end %>