<div class="modal-header">

  <button type="button" class="close" data-dismiss="modal">x</button>

</div>

<div class="modal-body">

  	<div class="modalPost">
  		<% buttonReactionId = 'reactionPostOpen'+@post.id.to_s+"_" %>
		<% counterReactionId = 'counterPostOpen'+@post.id.to_s+"_" %>
		<% user_id = current_user.id %>
		<% ownerPost_id = @post.user_id %>

  		<strong>Postagem</strong>

		<div class="card" id="cardModalPost">

			<div class="card-header" id="cardHeaderModalPost">
				<%= link_to dashboards_userProfile_path(:id => @post.user_id) do %>
					<% if @post.user.profilePicture.attached? %>
				        	<%= image_tag @post.user.profilePicture, :style => "position:relative;width:48.5px;height:48.5px;border-radius:100%;"%>
				    <% else %>
					    <div class="userProfile" id="postUserPicture" style="z-index: 1;position: relative;">
							<div class="userIcon">
								<i class="fas fa-user" style="color: white;font-size: 35px;margin-left: 9.5px;margin-top: 6px;"></i>
							</div>
						</div>
					<% end %>
				<% end %>
				<%= link_to  @post.user.name, dashboards_userProfile_path(:id => @post.user_id), :id => "userNameModalPost", style: "margin-left:10px"%>
				<%= link_to  @post.user.username, dashboards_userProfile_path(:id => @post.user_id), :id => "userNameModalPost", :style => "color:lightgray;margin-left:10px;"%>
				<a style="color:lightgray;margin-top: 12px;margin-left: 5px;font-size: 16px;"> -  <%= Post.getTime(@post.created_at.localtime) %></a>
		    </div>

		    <div class="card-body" id="cardBodyModalPost">
		        <%= @post.content %>
		        <% if @post.image.attached? %>
		        	<div class="postImage" style="margin-top:-100px">
		        		<%= image_tag @post.image, :style => "absolute;max-width:100%;margin-left:auto;margin-right:auto;",:onclick => "showImage(this)"%>
		        	</div>
		        <% end %>
		        <% if @post.post_id.present? %>
		        	<% if Post.where(id:@post.post_id).present? %>
			        	<% sharedPost = Post.find(@post.post_id) %>
			        	<div class="card" id="cardModalPost" style="border: 1px solid #656565;margin-bottom: -30px;">
			        		<span class="openPost" style="z-index: 1;top: 0;">
			        			<%= link_to dashboards_showPost_path(:post_id => sharedPost.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target'=>'#postModal', :class => "openPostLink", :style=>"z-index: 1;top: 0;"} do %>
	    						<% end %>
	    					</span>

							<div class="card-header" id="cardHeaderModalPost">
								<%= link_to dashboards_userProfile_path(:id => sharedPost.user_id) do %>
									<% if sharedPost.user.profilePicture.attached? %>
								        	<%= image_tag sharedPost.user.profilePicture, :style => "z-index:2;position:relative;width:48.5px;height:48.5px;border-radius:100%;margin-top:-45px"%>
								    <% else %>
									    <div class="userProfile" id="postUserPicture" style="margin-top:-30px;z-index:2;position: relative;">
											<div class="userIcon">
												<i class="fas fa-user" style="position:absolute;color: white;font-size: 35px;margin-left: 9.5px;margin-top: -50px;"></i>
											</div>
										</div>
									<% end %>
								<% end %>
								<%= link_to  sharedPost.user.name, dashboards_userProfile_path(:id => sharedPost.user_id), :id => "userNameModalPost", :style => "margin-left:10px;z-index:2;"%>
								<%= link_to  sharedPost.user.username, dashboards_userProfile_path(:id => sharedPost.user_id), :id => "userNameModalPost", :style => "margin-left:10px;z-index:2;color:lightgray;"%>
								<a style="color:lightgray;margin-top: 12px;margin-left: 5px;font-size: 16px;"> -  <%= Post.getTime(sharedPost.created_at.localtime) %></a>
						    </div>

						    <div class="card-body" id="cardBodyModalPost">
						        <%= sharedPost.content %>
						        <% if sharedPost.image.attached? %>
						        	<div class="postImage" style="margin-top:-50px;">
						        	<%= image_tag sharedPost.image, :style => "position:relative;max-width:100%;margin-left:auto;margin-right:auto;",:onclick => "showImage(this)"%>
						        	</div>
						        <% end %>
						        <% if sharedPost.post_id.present? %>
						        	<div class="card" style="margin-bottom: -40px;">
										<div class="card-body">
											...
										</div>
									</div>
						        <% end %>
						    </div>
						</div>
					<% else %>
						<div class="card" style="margin-bottom: -40px;">
							<div class="card-body">
								Esta Postagem foi deletada
							</div>
						</div>
					<% end %>
		        <% end %>
		    </div>

		 	<div class="card-footer" id="cardFooterModalPost">
		 		<% @reaction = current_user.reactions.where(owner_id:@post.id, owner_type:"Post").first %>
				<% @colorWhite = "white;" %>
				<% if  @reaction %>
					<% @type = @reaction.reactionType %>
        		<% else %>
        			<% @type = "" %>
        		<% end %>

		        <%= form_with url: "/reactions", authenticity_token: false do |f|%>
			       	<input name="user_id" type="hidden", value="<%= current_user.id %>" />
			       	<input name="owner_id" type="hidden", value="<%= @post.id %>" />
			       	<input name="owner_type" type="hidden", value="Post" />

					<div class="reaction" style="left:0;">
				       	<ul>
							<a>
									<li class="reaction-menu">
						        	<div class="actions">
						        		<button  onclick="changeReaction(this, <%= @post.id %>, 'PostOpen',<%= user_id %>, <%= ownerPost_id %>)" class="mdc-icon-button material-icons" value="type1" name="reactionType" style='<%= 'color:'+(@type == "type1" ? '#E91E63;' : @colorWhite)%>' id='<%=buttonReactionId+"type1"%>' data-disable="true" >
						        			favorite_border
						        		</button>
									</div>
								</li>
							</a>
						</ul>
						<ul>
							<a>
								<li class="reaction-menu" id=<%= counterReactionId+"type1" %>>
						   			<%= @post.reactionType1 %>
						   		</li>
						 	</a>
						 </ul>
					</div>

					<div class="reaction" style="margin-left: 20px;">
				       	<ul>
							<a>
									<li class="reaction-menu">
						        	<div class="actions">
						        		<button  onclick="changeReaction(this, <%= @post.id %>, 'PostOpen',<%= user_id %>, <%= ownerPost_id %>)" class="mdc-icon-button material-icons" value="type2" name="reactionType" style='<%= 'color:'+(@type == "type2" ? 'red;' : @colorWhite)%>'  id='<%=(buttonReactionId+"type2")%>' data-disable="true" >
						        			whatshot
						        		</button>
									</div>
								</li>
							</a>
						</ul>
						<ul>
							<a>
								<li class="reaction-menu" id=<%= counterReactionId+"type2" %>>
						   			<%= @post.reactionType2 %>
						   		</li>
						 	</a>
						 </ul>
					</div>

					<div class="reaction" style="margin-left: 50px;">
				       	<ul>
							<a>
									<li class="reaction-menu">
						        	<div class="actions">
						        		<button  onclick="changeReaction(this, <%= @post.id %>, 'PostOpen',<%= user_id %>, <%= ownerPost_id %>)" class="mdc-icon-button material-icons" value="type3" name="reactionType" style='<%= 'color:'+(@type == "type3" ? '#FFEB3B;': @colorWhite)%>' id='<%=buttonReactionId+"type3"%>' data-disable="true" >
						        			tag_faces
						        		</button>
									</div>
								</li>
							</a>
						</ul>
						<ul>
							<a>
								<li class="reaction-menu" id=<%= counterReactionId+"type3" %>>
						   			<%= @post.reactionType3 %>
						   		</li>
						 	</a>
						 </ul>
					</div>

					<div class="reaction" style="margin-left: 80px;">
				       	<ul>
							<a>
									<li class="reaction-menu">
						        	<div class="actions">
						        		<button  onclick="changeReaction(this, <%= @post.id %>, 'PostOpen',<%= user_id %>, <%= ownerPost_id %>)" class="mdc-icon-button material-icons" value="type4" name="reactionType" style='<%= 'color:'+(@type == "type4" ? '#2196F3;' : @colorWhite)%>' id='<%=buttonReactionId+"type4"%>' data-disable="true" >
						        			mood_bad
						        		</button>
									</div>
								</li>
							</a>
						</ul>
						<ul>
							<a>
								<li class="reaction-menu" id=<%= counterReactionId+"type4" %>>
						   			<%= @post.reactionType4 %>
						   		</li>
						 	</a>
						 </ul>
					</div>

					<%= link_to "Compartilhar", dashboards_sharePost_path(post_id:@post.id), :remote => true, 'data-toggle' =>  "modal", 'data-target'=>'#postModal', class: "shareLink" %>

			 	<% end %>
			 	
			 </div>

		</div>

	</div>

	<div id="commentaryCreation" class="card gedf-card">
		<div class="cardBodyModalCommentaryCreation">
			<textarea class="textArea"  id="userCommentary" name="content" placeholder="Comente algo"></textarea>
		</div>

		<div class="actions">
			<button  onclick="postCommentary('<%= commentaries_path %>', '<%= current_user.id %>', '<%= @post.id %>' )" class="btn btn-primay" id="sendPostButton" data-disable="true">
				Enviar
			</button>
		</div>
	</div>

	<strong>Comentarios</strong>

	<div class="commentaries" id="commentaries">
		<% user_id = current_user.id %>
		<% @commentaries.each do |commentary| %>
			<% commentaryId = 'commentary' + commentary.id.to_s %>

			<% ownerPost_id = commentary.user_id %>

			<% buttonReactionId = 'reactionCommentary'+commentary.id.to_s+"_" %>
			<% counterReactionId = 'counterCommentary'+commentary.id.to_s+"_" %>

			<div class="commentary" id='<%= commentaryId %>'>

		    	<div class="card" id="cardModalCommentary">

		    		<div class="card-header" id="cardHeaderModalCommentary">
		    			<%= link_to dashboards_userProfile_path(:id => commentary.user_id) do %>
							<% if commentary.user.profilePicture.attached? %>
						        	<%= image_tag commentary.user.profilePicture, :style => "position:relative;width:48.5px;height:48.5px;border-radius:100%;"%>
						    <% else %>
							    <div class="userProfile" id="postUserPicture" style="z-index: 1;position: relative;">
									<div class="userIcon">
										<i class="fas fa-user" style="color: white;font-size: 35px;margin-left: 9.5px;margin-top: 6px;"></i>
									</div>
								</div>
							<% end %>
						<% end %>
						<%= link_to  commentary.user.name, dashboards_userProfile_path(:id => commentary.user_id), :id => "userNameModalPost", style: "margin-left:10px;"%>

						<%= link_to  commentary.user.username, dashboards_userProfile_path(:id => commentary.user_id), :id => "userNameModalPost", style: "margin-left:10px;"%>
						<a style="color:lightgray;margin-top: 12px;margin-left: 5px;font-size: 16px;"> -  <%= Post.getTime(commentary.created_at.localtime) %></a>
						    	
				    	<li class="nav-item dropdown" style="position:absolute;right:0;top:0;color: transparent;">
					        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: absolute;top:0;right: 0;color: white;">
					        </a>

					        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="position:relative;">

					        	<a class="dropdown-item" onclick="hidePost('<%= commentaryId %>')" style="cursor:pointer;">Esconder
					        	</a>
					        	
			          			<% if commentary.user_id == current_user.id %>

				    				<%= link_to "Apagar", commentary_path(:id => commentary.id),:remote => true, :method => "delete", data: { confirm: "Tem certeza que deseja deletar o comentario?" }, :class => "dropdown-item" %>

				    			<% end %>

					        </div>
					      </li>

				    </div>

				    <div class="card-body" id="card-body">
				        <%= commentary.content %>
				    </div>

				 	<div class="card-footer" id="cardFooterModalCommentary">
				 		<% @reaction = @reactionsTimeline.where(owner_id:commentary.id, owner_type:"Commentary").first %>
						<% @colorWhite = "white;" %>
						<% if  @reaction %>
							<% @type = @reaction.reactionType %>
		        		<% else %>
		        			<% @type = "" %>
		        		<% end %>


				        <%= form_with url: "/reactions", authenticity_token: false do |f|%>
					       	<input name="user_id" type="hidden", value="<%= current_user.id %>" />
					       	<input name="owner_id" type="hidden", value="<%= commentary.id %>" />
					       	<input name="owner_type" type="hidden", value="Commentary" />

							<div class="reaction" style="left:0;">
						       	<ul>
    								<a>
	       								<li class="reaction-menu">
								        	<div class="actions">
								        		<button  onclick="changeReaction(this, <%= commentary.id %>, 'Commentary',<%= user_id %>, <%= ownerPost_id %>)" class="mdc-icon-button material-icons" value="type1" name="reactionType" style='<%= 'color:'+(@type == "type1" ? '#E91E63;': @colorWhite) %>' id='<%=buttonReactionId+"type1"%>' data-disable="true" >
								        			favorite_border
								        		</button>
											</div>
										</li>
									</a>
								</ul>
								<ul>
	    							<a>
       									<li class="reaction-menu" id=<%= counterReactionId+"type1" %>>
								   			<%= commentary.reactionType1 %>
								   		</li>
								 	</a>
								 </ul>
							</div>

							<div class="reaction" style="margin-left: 20px;">
						       	<ul>
    								<a>
	       								<li class="reaction-menu">
								        	<div class="actions">
								        		<button  onclick="changeReaction(this, <%= commentary.id %>, 'Commentary',<%= user_id %>, <%= ownerPost_id %>)" class="mdc-icon-button material-icons" value="type2" name="reactionType" style='<%= 'color:'+(@type == "type2" ? 'red;' : @colorWhite)%>'  id='<%=(buttonReactionId+"type2")%>' data-disable="true" >
								        			whatshot
								        		</button>
											</div>
										</li>
									</a>
								</ul>
								<ul>
	    							<a>
       									<li class="reaction-menu" id=<%= counterReactionId+"type2" %>>
								   			<%= commentary.reactionType2 %>
								   		</li>
								 	</a>
								 </ul>
							</div>

							<div class="reaction" style="margin-left: 50px;">
						       	<ul>
    								<a>
	       								<li class="reaction-menu">
								        	<div class="actions">
								        		<button  onclick="changeReaction(this, <%= commentary.id %>, 'Commentary',<%= user_id %>, <%= ownerPost_id %>)" class="mdc-icon-button material-icons" value="type3" name="reactionType" style='<%= 'color:'+(@type == "type3" ? '#FFEB3B;' : @colorWhite)%>' id='<%=buttonReactionId+"type3"%>' data-disable="true" >
								        			tag_faces
								        		</button>
											</div>
										</li>
									</a>
								</ul>
								<ul>
	    							<a>
       									<li class="reaction-menu" id=<%= counterReactionId+"type3" %>>
								   			<%= commentary.reactionType3 %>
								   		</li>
								 	</a>
								 </ul>
							</div>

							<div class="reaction" style="margin-left: 80px;">
						       	<ul>
    								<a>
	       								<li class="reaction-menu">
								        	<div class="actions">
								        		<button  onclick="changeReaction(this, <%= commentary.id %>, 'Commentary',<%= user_id %>, <%= ownerPost_id %>)" class="mdc-icon-button material-icons" value="type4" name="reactionType" style='<%= 'color:'+(@type == "type4" ? '#2196F3;' : @colorWhite) %>' id='<%=buttonReactionId+"type4"%>' data-disable="true" >
								        			mood_bad
								        		</button>
											</div>
										</li>
									</a>
								</ul>
								<ul>
	    							<a>
       									<li class="reaction-menu" id=<%= counterReactionId+"type4" %>>
								   			<%= commentary.reactionType4 %>
								   		</li>
								 	</a>
								 </ul>
							</div>

					 	<% end %>
					 	
					 </div>

				</div>

			</div>

		<% end %>
	</div>
</div>
