<div class="modal-header">

  <button type="button" class="close" data-dismiss="modal">x</button>

</div>

<div class="modal-body">

  	<div class="modalPost">
  		<% buttonReactionId = 'reactionPostOpen'+@post.id.to_s+"_" %>
		<% counterReactionId = 'counterPostOpen'+@post.id.to_s+"_" %>
		<% user_id = current_user.id %>
		<% ownerPost_id = @post.user_id %>

  		<strong>Postagem</strong>

		<div class="card" id="cardModalPost">

			<div class="card-header" id="cardHeaderModalPost">
				<%= link_to  @post.user.name, dashboards_userProfile_path(:id => @post.user_id), :id => "userNameModalPost" %>
		    </div>

		    <div class="card-body" id="cardBodyModalPost">
		        <%= @post.content %>
		    </div>

		 	<div class="card-footer" id="cardFooterModalPost">
		 		<% @reaction = current_user.reactions.where(owner_id:@post.id, owner_type:"Post").first %>
				<% @colorBlue = "#3333cc;" %>
				<% @colorBlack = "black;" %>
				<% if  @reaction %>
					<% @type = @reaction.reactionType %>
        		<% else %>
        			<% @type = "" %>
        		<% end %>

		        <%= form_with url: "/reactions", authenticity_token: false do |f|%>
			       	<input name="user_id" type="hidden", value="<%= current_user.id %>" />
			       	<input name="owner_id" type="hidden", value="<%= @post.id %>" />
			       	<input name="owner_type" type="hidden", value="Post" />

					<div class="reaction" style="left:0;">
				       	<ul>
							<a>
									<li class="reaction-menu">
						        	<div class="actions">
						        		<button  onclick="changeReaction(this, <%= @post.id %>, 'PostOpen',<%= user_id %>, <%= ownerPost_id %>)" class="fas fa-thumbs-up" value="type1" name="reactionType" style=<%= 'color:'+(@type == "type1" ? @colorBlue : @colorBlack) %> id='<%=buttonReactionId+"type1"%>' data-disable="true" ></button>
									</div>
								</li>
							</a>
						</ul>
						<ul>
							<a>
								<li class="reaction-menu" id=<%= counterReactionId+"type1" %>>
						   			<%= @post.reactionType1 %>
						   		</li>
						 	</a>
						 </ul>
					</div>

					<div class="reaction" style="margin-left: 20px;">
				       	<ul>
							<a>
									<li class="reaction-menu">
						        	<div class="actions">
						        		<button  onclick="changeReaction(this, <%= @post.id %>, 'PostOpen',<%= user_id %>, <%= ownerPost_id %>)" class="fas fa-surprise" value="type2" name="reactionType" style=<%= 'color:'+(@type == "type2" ? @colorBlue : @colorBlack) %>  id='<%=(buttonReactionId+"type2")%>' data-disable="true" ></button>
									</div>
								</li>
							</a>
						</ul>
						<ul>
							<a>
								<li class="reaction-menu" id=<%= counterReactionId+"type2" %>>
						   			<%= @post.reactionType2 %>
						   		</li>
						 	</a>
						 </ul>
					</div>

					<div class="reaction" style="margin-left: 50px;">
				       	<ul>
							<a>
									<li class="reaction-menu">
						        	<div class="actions">
						        		<button  onclick="changeReaction(this, <%= @post.id %>, 'PostOpen',<%= user_id %>, <%= ownerPost_id %>)" class="fas fa-angry" value="type3" name="reactionType" style=<%= 'color:'+(@type == "type3" ? @colorBlue : @colorBlack) %> id='<%=buttonReactionId+"type3"%>' data-disable="true" ></button>
									</div>
								</li>
							</a>
						</ul>
						<ul>
							<a>
								<li class="reaction-menu" id=<%= counterReactionId+"type3" %>>
						   			<%= @post.reactionType3 %>
						   		</li>
						 	</a>
						 </ul>
					</div>

					<div class="reaction" style="margin-left: 80px;">
				       	<ul>
							<a>
									<li class="reaction-menu">
						        	<div class="actions">
						        		<button  onclick="changeReaction(this, <%= @post.id %>, 'PostOpen',<%= user_id %>, <%= ownerPost_id %>)" class="fas fa-sad-cry" value="type4" name="reactionType" style=<%= 'color:'+(@type == "type4" ? @colorBlue : @colorBlack) %> id='<%=buttonReactionId+"type4"%>' data-disable="true" ></button>
									</div>
								</li>
							</a>
						</ul>
						<ul>
							<a>
								<li class="reaction-menu" id=<%= counterReactionId+"type4" %>>
						   			<%= @post.reactionType4 %>
						   		</li>
						 	</a>
						 </ul>
					</div>

					 <div class="reaction" style="margin-left: 110px;">
				       	<ul>
							<a>
								<li class="reaction-menu">
						        	<div class="actions">
						        		<button  onclick="changeReaction(this, <%= @post.id %>, 'PostOpen',<%= user_id %>, <%= ownerPost_id %>)" class="fas fa-thumbs-down" value="dislike" name="reactionType" style=<%= 'color:'+(@type == "dislike" ? @colorBlue : @colorBlack) %> id='<%=buttonReactionId+"dislike"%>' data-disable="true" ></button>
									</div>
								</li>
							</a>
						</ul>
						<ul>
							<a>
								<li class="reaction-menu" id=<%= counterReactionId+"dislike" %>>
						   			<%= @post.dislikes %>
						   		</li>	
						 	</a>
						 </ul>
					</div>

			 	<% end %>
			 	
			 </div>

		</div>

	</div>

	<div id="commentaryCreation" class="card gedf-card">
		<div class="cardBodyModalCommentaryCreation">
			<textarea class="textArea"  id="userCommentary" name="content" placeholder="Comente algo"></textarea>
		</div>

		<div class="actions">
			<button  onclick="postCommentary('<%= commentaries_path %>', '<%= current_user.id %>', '<%= @post.id %>' )" class="btn btn-primay" id="sendPostButton" data-disable="true">
				Enviar
			</button>
		</div>
	</div>

	<strong>Comentarios</strong>

	<div class="commentaries" id="commentaries">
		<% user_id = current_user.id %>
		<% @commentaries.each do |commentary| %>
			<% commentaryId = 'commentary' + commentary.id.to_s %>

			<% ownerPost_id = commentary.user_id %>

			<% buttonReactionId = 'reactionCommentary'+commentary.id.to_s+"_" %>
			<% counterReactionId = 'counterCommentary'+commentary.id.to_s+"_" %>

			<div class="commentary" id='<%= commentaryId %>'>

		    	<div class="card" id="cardModalCommentary">

		    		<div class="card-header" id="cardHeaderModalCommentary">
		    			<%= link_to  commentary.user.name, dashboards_userProfile_path(:id => commentary.user_id), :id => "userNameModalPost" %>
				    	
				    	<li class="nav-item dropdown" style="position:absolute;right:0;top:0;color: transparent;">
					        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: absolute;top:0;right: 0;color: white;">
					        </a>

					        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="position:relative;">

					        	<a class="dropdown-item" onclick="hidePost('<%= commentaryId %>')" style="cursor:pointer;">Esconder
					        	</a>
					        	
			          			<% if commentary.user_id == current_user.id %>

				    				<%= link_to "Apagar", commentary_path(:id => commentary.id),:remote => true, :method => "delete", data: { confirm: "Tem certeza que deseja deletar o comentario?" }, :class => "dropdown-item" %>

				    			<% end %>

					        </div>
					      </li>

				    </div>

				    <div class="card-body" id="card-body">
				        <%= commentary.content %>
				    </div>

				 	<div class="card-footer" id="cardFooterModalCommentary">
				 		<% @reaction = @reactionsTimeline.where(owner_id:commentary.id, owner_type:"Commentary").first %>
						<% @colorBlue = "#3333cc;" %>
						<% @colorBlack = "black;" %>
						<% if  @reaction %>
							<% @type = @reaction.reactionType %>
		        		<% else %>
		        			<% @type = "" %>
		        		<% end %>


				        <%= form_with url: "/reactions", authenticity_token: false do |f|%>
					       	<input name="user_id" type="hidden", value="<%= current_user.id %>" />
					       	<input name="owner_id" type="hidden", value="<%= commentary.id %>" />
					       	<input name="owner_type" type="hidden", value="Commentary" />

							<div class="reaction" style="left:0;">
						       	<ul>
    								<a>
	       								<li class="reaction-menu">
								        	<div class="actions">
								        		<button  onclick="changeReaction(this, <%= commentary.id %>, 'Commentary',<%= user_id %>, <%= ownerPost_id %>)" class="fas fa-thumbs-up" value="type1" name="reactionType" style=<%= 'color:'+(@type == "type1" ? @colorBlue : @colorBlack) %> id='<%=buttonReactionId+"type1"%>' data-disable="true" >
								        		</button>
											</div>
										</li>
									</a>
								</ul>
								<ul>
	    							<a>
       									<li class="reaction-menu" id=<%= counterReactionId+"type1" %>>
								   			<%= commentary.reactionType1 %>
								   		</li>
								 	</a>
								 </ul>
							</div>

							<div class="reaction" style="margin-left: 20px;">
						       	<ul>
    								<a>
	       								<li class="reaction-menu">
								        	<div class="actions">
								        		<button  onclick="changeReaction(this, <%= commentary.id %>, 'Commentary',<%= user_id %>, <%= ownerPost_id %>)" class="fas fa-surprise" value="type2" name="reactionType" style=<%= 'color:'+(@type == "type2" ? @colorBlue : @colorBlack) %>  id='<%=(buttonReactionId+"type2")%>' data-disable="true" ></button>
											</div>
										</li>
									</a>
								</ul>
								<ul>
	    							<a>
       									<li class="reaction-menu" id=<%= counterReactionId+"type2" %>>
								   			<%= commentary.reactionType2 %>
								   		</li>
								 	</a>
								 </ul>
							</div>

							<div class="reaction" style="margin-left: 50px;">
						       	<ul>
    								<a>
	       								<li class="reaction-menu">
								        	<div class="actions">
								        		<button  onclick="changeReaction(this, <%= commentary.id %>, 'Commentary',<%= user_id %>, <%= ownerPost_id %>)" class="fas fa-angry" value="type3" name="reactionType" style=<%= 'color:'+(@type == "type3" ? @colorBlue : @colorBlack) %> id='<%=buttonReactionId+"type3"%>' data-disable="true" ></button>
											</div>
										</li>
									</a>
								</ul>
								<ul>
	    							<a>
       									<li class="reaction-menu" id=<%= counterReactionId+"type3" %>>
								   			<%= commentary.reactionType3 %>
								   		</li>
								 	</a>
								 </ul>
							</div>

							<div class="reaction" style="margin-left: 80px;">
						       	<ul>
    								<a>
	       								<li class="reaction-menu">
								        	<div class="actions">
								        		<button  onclick="changeReaction(this, <%= commentary.id %>, 'Commentary',<%= user_id %>, <%= ownerPost_id %>)" class="fas fa-sad-cry" value="type4" name="reactionType" style=<%= 'color:'+(@type == "type4" ? @colorBlue : @colorBlack) %> id='<%=buttonReactionId+"type4"%>' data-disable="true" ></button>
											</div>
										</li>
									</a>
								</ul>
								<ul>
	    							<a>
       									<li class="reaction-menu" id=<%= counterReactionId+"type4" %>>
								   			<%= commentary.reactionType4 %>
								   		</li>
								 	</a>
								 </ul>
							</div>

							 <div class="reaction" style="margin-left: 110px;">
						       	<ul>
    								<a>
	       								<li class="reaction-menu">
								        	<div class="actions">
								        		<button  onclick="changeReaction(this, <%= commentary.id %>, 'Commentary',<%= user_id %>, <%= ownerPost_id %>)" class="fas fa-thumbs-down" value="dislike" name="reactionType" style=<%= 'color:'+(@type == "dislike" ? @colorBlue : @colorBlack) %> id='<%=buttonReactionId+"dislike"%>' data-disable="true" ></button>
											</div>
										</li>
									</a>
								</ul>
								<ul>
	    							<a>
       									<li class="reaction-menu" id=<%= counterReactionId+"dislike" %>>
								   			<%= commentary.dislikes %>
								   		</li>
								 	</a>
								 </ul>
							</div>

					 	<% end %>
					 	
					 </div>

				</div>

			</div>

		<% end %>
	</div>
</div>
