<div class="modal-header" style="height: 30px;padding: 0;">

  <button type="button" class="close" data-dismiss="modal" style="top:0;right: 0;">x</button>

</div>

<div class="modal-body" style="width: 720px;height: 700px;font-size: 20px;">

  	<div class="post" style="margin-bottom: 3px;">
  		<% buttonReactionId = 'reactionPostOpen'+@post.id.to_s+"_" %>
		<% counterReactionId = 'counterPostOpen'+@post.id.to_s+"_" %>
		<% user_id = current_user.id %>
		<% ownerPost_id = @post.user_id %>

  		<strong>Postagem</strong>

		<div class="card" style="border-radius: 0;">

			<div class="card-header" id="card-header" style="border-radius: 0;">
				<%= link_to  @post.user.name, dashboards_userProfile_path(:id => @post.user_id), :style => "color:white;position: relative;" %>
		    </div>

		    <div class="card-body" id="card-body" style="padding: 0;">
		        <%= @post.content %>
		    </div>

		 	<div class="card-footer" id="card-footer" style="border-radius: 0;">
		 		<% @reaction = current_user.reactions.where(owner_id:@post.id, owner_type:"Post").first %>
				<% @colorBlue = "#3333cc;" %>
				<% @colorBlack = "black;" %>
				<% if  @reaction %>
					<% @type = @reaction.reactionType %>
        		<% else %>
        			<% @type = "" %>
        		<% end %>

		        <%= form_with url: "/reactions", authenticity_token: false do |f|%>
			       	<input id="user_id" name="user_id" type="hidden", value="<%= current_user.id %>" />
			       	<input id="owner_id" name="owner_id" type="hidden", value="<%= @post.id %>" />
			       	<input id="owner_type" name="owner_type" type="hidden", value="Post" />

					<div class="reaction" style="left:0;">
				       	<ul>
							<a>
									<li class="reaction-menu">
						        	<div class="actions">
						        		<button  onclick="changeReaction(this, <%= @post.id %>, 'PostOpen',<%= user_id %>, <%= ownerPost_id %>)" class="fas fa-thumbs-up" value="type1" name="reactionType" style=<%= 'color:'+(@type == "type1" ? @colorBlue : @colorBlack) %> id=<%=buttonReactionId+"type1"%> ></button>
									</div>
								</li>
							</a>
						</ul>
						<ul>
							<a>
								<li class="reaction-menu" id=<%= counterReactionId+"type1" %>>
						   			<%= @post.reactionType1 %>
						   		</li>
						 	</a>
						 </ul>
					</div>

					<div class="reaction" style="margin-left: 20px;">
				       	<ul>
							<a>
									<li class="reaction-menu">
						        	<div class="actions">
						        		<button  onclick="changeReaction(this, <%= @post.id %>, 'PostOpen',<%= user_id %>, <%= ownerPost_id %>)" class="fas fa-surprise" value="type2" name="reactionType" style=<%= 'color:'+(@type == "type2" ? @colorBlue : @colorBlack) %>  id=<%=(buttonReactionId+"type2")%> ></button>
									</div>
								</li>
							</a>
						</ul>
						<ul>
							<a>
								<li class="reaction-menu" id=<%= counterReactionId+"type2" %>>
						   			<%= @post.reactionType2 %>
						   		</li>
						 	</a>
						 </ul>
					</div>

					<div class="reaction" style="margin-left: 50px;">
				       	<ul>
							<a>
									<li class="reaction-menu">
						        	<div class="actions">
						        		<button  onclick="changeReaction(this, <%= @post.id %>, 'PostOpen',<%= user_id %>, <%= ownerPost_id %>)" class="fas fa-angry" value="type3" name="reactionType" style=<%= 'color:'+(@type == "type3" ? @colorBlue : @colorBlack) %> id=<%=buttonReactionId+"type3"%> ></button>
									</div>
								</li>
							</a>
						</ul>
						<ul>
							<a>
								<li class="reaction-menu" id=<%= counterReactionId+"type3" %>>
						   			<%= @post.reactionType3 %>
						   		</li>
						 	</a>
						 </ul>
					</div>

					<div class="reaction" style="margin-left: 80px;">
				       	<ul>
							<a>
									<li class="reaction-menu">
						        	<div class="actions">
						        		<button  onclick="changeReaction(this, <%= @post.id %>, 'PostOpen',<%= user_id %>, <%= ownerPost_id %>)" class="fas fa-sad-cry" value="type4" name="reactionType" style=<%= 'color:'+(@type == "type4" ? @colorBlue : @colorBlack) %> id=<%=buttonReactionId+"type4"%> ></button>
									</div>
								</li>
							</a>
						</ul>
						<ul>
							<a>
								<li class="reaction-menu" id=<%= counterReactionId+"type4" %>>
						   			<%= @post.reactionType4 %>
						   		</li>
						 	</a>
						 </ul>
					</div>

					 <div class="reaction" style="margin-left: 110px;">
				       	<ul>
							<a>
								<li class="reaction-menu">
						        	<div class="actions">
						        		<button  onclick="changeReaction(this, <%= @post.id %>, 'PostOpen',<%= user_id %>, <%= ownerPost_id %>)" class="fas fa-thumbs-down" value="dislike" name="reactionType" style=<%= 'color:'+(@type == "dislike" ? @colorBlue : @colorBlack) %> id=<%=buttonReactionId+"dislike"%> ></button>
									</div>
								</li>
							</a>
						</ul>
						<ul>
							<a>
								<li class="reaction-menu" id=<%= counterReactionId+"dislike" %>>
						   			<%= @post.dislikes %>
						   		</li>	
						 	</a>
						 </ul>
					</div>

			 	<% end %>
			 	
			 </div>

		</div>

	</div>

	<div id="postCreation" class="card gedf-card" style="border-radius: 0;height: 100px;">
		<%= form_with url: "/commentaries", authenticity_token: false do |f|%>
			<div class="card-body" style="height: 100px;">
				<textarea class="textArea" name="content" autofocus placeholder="Comente algo" style="min-height:80px;max-height: 80px;"></textarea>

				<input id="user_information" name="user_id" type="hidden", value="<%= current_user.id %>" />
				<input id="user_information" name="post_id" type="hidden", value="<%= @post.id %>" />
			</div>

			<div class="actions">
			    <%= f.submit "Enviar", :class => 'btn btn-primay', :id => "sendPostButton"%>
			</div>

		<% end %>
	</div>

	<strong>Comentarios</strong>

	<div class="commentaries" style="margin-left: 20px;">
		<% user_id = current_user.id %>

		<% @commentaries.each do |commentary| %>

			<% ownerPost_id = commentary.user_id %>

			<% buttonReactionId = 'reactionCommentary'+commentary.id.to_s+"_" %>
			<% counterReactionId = 'counterCommentary'+commentary.id.to_s+"_" %>

			<div class="post" style="margin-bottom: 3px;">

		    	<div class="card" style="border-radius: 0;">

		    		<div class="card-header" id="card-header" style="border-radius: 0;">
		    			<%= link_to  commentary.user.name, dashboards_userProfile_path(:id => commentary.user_id), :style => "color:white;position: relative;" %>
				    </div>

				    <div class="card-body" id="card-body">
				        <%= commentary.content %>
				    </div>

				 	<div class="card-footer" id="card-footer" style="border-radius: 0;">
				 		<% @reaction = @reactionsTimeline.where(owner_id:commentary.id, owner_type:"Commentary").first %>
						<% @colorBlue = "#3333cc;" %>
						<% @colorBlack = "black;" %>
						<% if  @reaction %>
							<% @type = @reaction.reactionType %>
		        		<% else %>
		        			<% @type = "" %>
		        		<% end %>


				        <%= form_with url: "/reactions", authenticity_token: false do |f|%>
					       	<input id="user_id" name="user_id" type="hidden", value="<%= current_user.id %>" />
					       	<input id="owner_id" name="owner_id" type="hidden", value="<%= commentary.id %>" />
					       	<input id="owner_type" name="owner_type" type="hidden", value="Commentary" />

							<div class="reaction" style="left:0;">
						       	<ul>
    								<a>
	       								<li class="reaction-menu">
								        	<div class="actions">
								        		<button  onclick="changeReaction(this, <%= commentary.id %>, 'Commentary',<%= user_id %>, <%= ownerPost_id %>)" class="fas fa-thumbs-up" value="type1" name="reactionType" style=<%= 'color:'+(@type == "type1" ? @colorBlue : @colorBlack) %> id=<%=buttonReactionId+"type1"%> >
								        		</button>
											</div>
										</li>
									</a>
								</ul>
								<ul>
	    							<a>
       									<li class="reaction-menu" id=<%= counterReactionId+"type1" %>>
								   			<%= commentary.reactionType1 %>
								   		</li>
								 	</a>
								 </ul>
							</div>

							<div class="reaction" style="margin-left: 20px;">
						       	<ul>
    								<a>
	       								<li class="reaction-menu">
								        	<div class="actions">
								        		<button  onclick="changeReaction(this, <%= commentary.id %>, 'Commentary',<%= user_id %>, <%= ownerPost_id %>)" class="fas fa-surprise" value="type2" name="reactionType" style=<%= 'color:'+(@type == "type2" ? @colorBlue : @colorBlack) %>  id=<%=(buttonReactionId+"type2")%> ></button>
											</div>
										</li>
									</a>
								</ul>
								<ul>
	    							<a>
       									<li class="reaction-menu" id=<%= counterReactionId+"type2" %>>
								   			<%= commentary.reactionType2 %>
								   		</li>
								 	</a>
								 </ul>
							</div>

							<div class="reaction" style="margin-left: 50px;">
						       	<ul>
    								<a>
	       								<li class="reaction-menu">
								        	<div class="actions">
								        		<button  onclick="changeReaction(this, <%= commentary.id %>, 'Commentary',<%= user_id %>, <%= ownerPost_id %>)" class="fas fa-angry" value="type3" name="reactionType" style=<%= 'color:'+(@type == "type3" ? @colorBlue : @colorBlack) %> id=<%=buttonReactionId+"type3"%> ></button>
											</div>
										</li>
									</a>
								</ul>
								<ul>
	    							<a>
       									<li class="reaction-menu" id=<%= counterReactionId+"type3" %>>
								   			<%= commentary.reactionType3 %>
								   		</li>
								 	</a>
								 </ul>
							</div>

							<div class="reaction" style="margin-left: 80px;">
						       	<ul>
    								<a>
	       								<li class="reaction-menu">
								        	<div class="actions">
								        		<button  onclick="changeReaction(this, <%= commentary.id %>, 'Commentary',<%= user_id %>, <%= ownerPost_id %>)" class="fas fa-sad-cry" value="type4" name="reactionType" style=<%= 'color:'+(@type == "type4" ? @colorBlue : @colorBlack) %> id=<%=buttonReactionId+"type4"%> ></button>
											</div>
										</li>
									</a>
								</ul>
								<ul>
	    							<a>
       									<li class="reaction-menu" id=<%= counterReactionId+"type4" %>>
								   			<%= commentary.reactionType4 %>
								   		</li>
								 	</a>
								 </ul>
							</div>

							 <div class="reaction" style="margin-left: 110px;">
						       	<ul>
    								<a>
	       								<li class="reaction-menu">
								        	<div class="actions">
								        		<button  onclick="changeReaction(this, <%= commentary.id %>, 'Commentary',<%= user_id %>, <%= ownerPost_id %>)" class="fas fa-thumbs-down" value="dislike" name="reactionType" style=<%= 'color:'+(@type == "dislike" ? @colorBlue : @colorBlack) %> id=<%=buttonReactionId+"dislike"%> ></button>
											</div>
										</li>
									</a>
								</ul>
								<ul>
	    							<a>
       									<li class="reaction-menu" id=<%= counterReactionId+"dislike" %>>
								   			<%= commentary.dislikes %>
								   		</li>
								 	</a>
								 </ul>
							</div>

					 	<% end %>
					 	
					 </div>

				</div>

			</div>

		<% end %>
	</div>
</div>
