<% commentaryId = 'commentary' + @commentary.id.to_s %>
<div class="commentary" id='<%= commentaryId %>'>

	<div class="card" id="cardModalCommentary">

		<div class="card-header" id="cardHeaderModalCommentary">
			<%= link_to dashboards_userProfile_path(:id => @commentary.user_id) do %>
				<% if @commentary.user.profilePicture.attached? %>
			        	<%= image_tag @commentary.user.profilePicture, :style => "position:relative;width:48.5px;height:48.5px;border-radius:100%;"%>
			    <% else %>
				    <div class="userProfile" id="postUserPicture" style="z-index: 1;position: relative;">
						<div class="userIcon">
							<i class="fas fa-user" style="color: white;font-size: 35px;margin-left: 9.5px;margin-top: 6px;"></i>
						</div>
					</div>
				<% end %>
			<% end %>
			<%= link_to  @commentary.user.name, dashboards_userProfile_path(:id => @commentary.user_id), :id => "userNameModalPost", style: "margin-left:10px;"%>

			<%= link_to  @commentary.user.username, dashboards_userProfile_path(:id => @commentary.user_id), :id => "userNameModalPost", style: "margin-left:10px;"%>

			<li class="nav-item dropdown" style="position:absolute;right:0;top:0;color: transparent;">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: absolute;top:0;right: 0;color: white;">
		        </a>

		        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="position:relative;">

		        	<a class="dropdown-item" onclick="hidePost('<%= commentaryId %>')" style="cursor:pointer;">Esconder
		        	</a>
		        	
          			<% if @commentary.user_id == current_user.id %>

	    				<%= link_to "Apagar", commentary_path(:id => @commentary.id),:remote => true, :method => "delete", data: { confirm: "Tem certeza que deseja deletar o comentario?" }, :class => "dropdown-item" %>

	    			<% end %>

		        </div>
		      </li>
	    </div>

	    <div class="card-body" id="card-body">
	        <%= @commentary.content %>
	    </div>

	 	<div class="card-footer"  id="cardFooterModalCommentary">

	        <%= form_with url: "/reactions", authenticity_token: false do |f|%>
				<div class="reaction" style="left:0;">
			       	<ul>
						<a>
								<li class="reaction-menu">
					        	<div class="actions">
					        		<button  class="mdc-icon-button material-icons">
					        			favorite_border
					        		</button>
								</div>
							</li>
						</a>
					</ul>
					<ul>
						<a>
							<li class="reaction-menu">
					   			0
					   		</li>
					 	</a>
					 </ul>
				</div>

				<div class="reaction" style="margin-left: 20px;">
			       	<ul>
						<a>
								<li class="reaction-menu">
					        	<div class="actions">
					        		<button  class="mdc-icon-button material-icons">
					        			whatshot
					        		</button>
								</div>
							</li>
						</a>
					</ul>
					<ul>
						<a>
								<li class="reaction-menu">
					   			0
					   		</li>
					 	</a>
					 </ul>
				</div>

				<div class="reaction" style="margin-left: 50px;">
			       	<ul>
						<a>
								<li class="reaction-menu">
					        	<div class="actions">
					        		<button  class="mdc-icon-button material-icons">
					        			tag_faces
					        		</button>
								</div>
							</li>
						</a>
					</ul>
					<ul>
						<a>
								<li class="reaction-menu">
					   			0
					   		</li>
					 	</a>
					 </ul>
				</div>

				<div class="reaction" style="margin-left: 80px;">
			       	<ul>
						<a>
								<li class="reaction-menu">
					        	<div class="actions">
					        		<button class="mdc-icon-button material-icons">
					        			mood_bad
					        		</button>
								</div>
							</li>
						</a>
					</ul>
					<ul>
						<a>
								<li class="reaction-menu">
					   			0
					   		</li>
					 	</a>
					 </ul>
				</div>

		 	<% end %>
		 	
		 </div>

	</div>

</div>