<div class="userInformationTab">

	<div class="topInformation">

		<div class="iconInformation">
				<% if @user.profilePicture.attached? %>
		        	<%= image_tag @user.profilePicture, :style => "position:relative;width:123px;height:123px;border-radius:100%;", 
		        	:onclick => "showImage(this)"%>
		        <% else %>
			        <div class="userProfile" id="iconProfile">
						<div class="userIcon">
							<i class="fas fa-user"></i>
						</div>
					</div>
				<% end %>
		</div>

		<div class="profileUserName">
			<%= @user.name %>
		</div>

	</div>

	<div class="bottonInformation" style="display: inline-flex;background-color: black;">

		<div class="informationMenu">
			<ul>

			  <li>
			  	<div class="userPosts" onclick="showOnProfile(<%= @user.id %>, '<%= dashboards_userPosts_path %>')" style="cursor: pointer;">
					<a>Postagens</a>
				</div>
			  </li>

			  <li>
			  	<div class="userLikes" onclick="showOnProfile(<%= @user.id %>, '<%= dashboards_userReactions_path %>')" style="cursor: pointer;">
					<a>Curtidas</a>
				</div>
			  </li>

			  <li>	<div class="userImages" onclick="showOnProfile(<%= @user.id %>, '<%= dashboards_userImages_path %>')" style="cursor: pointer;">
					<a>Fotos</a>
				</div>
			</li>

			  <li>
			  	<div class="userFriends" onclick="showOnProfile(<%= @user.id %>, '<%= dashboards_userFriends_path %>')" style="cursor: pointer;">
					<a>Amigos</a>
				</div>
			  </li>

			</ul>

		</div>

		<%= form_with url: users_addFriend_path, method: :get, authenticity_token: false do |f|%>
	 		<input name="user1_id" type="hidden", value="<%= current_user.id %>" />
	 		<input name="user2_id" type="hidden", value="<%= @user.id %>" />

	 		<% if @user.id == current_user.id %> 
	 			<div class="changeProfilePicture">
	 				<%= link_to "Mudar foto", users_changeProfilePictureModal_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target'=>'#postModal', :class => "openPostLink", :style => "openPostLinkion:relative;color:white;font-size:20px;width:100px;"} %>
	 			</div>

	 		<% elsif current_user.areWeFriends(@user) %>
	 			<%= button_tag "Remover", :class => "friendButton", data: { disable: true }%>

		 	<% elsif current_user.userRequestedFriendship(@user) %>
	 			<%= button_tag "Aceitar", :class => "friendButton", data: { disable: true }%>

		 	<% elsif current_user.alreadySentRequest(@user) %>
	 			<span class="friendButton" style="cursor:pointer;background-color: lightgray;">Pedido Enviado</span>

		 	<% else %>
		   		<%= button_tag "Adicionar", :class => "friendButton", data: { disable: true }%>
	 		<% end %>

		<% end %>

	</div>

</div>