<div class="userInformationTab">

	<div class="topInformation">

		<div class="iconInformation">
			<div class="userProfile" id="iconProfile">
				<div class="userIcon">
					<i class="fas fa-user"></i>
				</div>
			</div>
		</div>

		<div class="profileUserName">
			<%= @user.name %>
		</div>

	</div>

	<div class="bottonInformation">

		<div class="informationMenu">
			<ul>

			  <li>
			  	<div class="userPosts" onclick="showOnProfile(<%= @user.id %>, '<%= dashboards_userPosts_path %>')" style="cursor: pointer;">
					<a>Postagens</a>
				</div>
			  </li>

			  <li>
			  	<div class="userLikes" onclick="showOnProfile(<%= @user.id %>, '<%= dashboards_userReactions_path %>')" style="cursor: pointer;">
					<a>Curtidas</a>
				</div>
			  </li>

			  <li><a>Fotos</a></li>

			  <li>
			  	<div class="userFriends" onclick="showOnProfile(<%= @user.id %>, '<%= dashboards_userFriends_path %>')" style="cursor: pointer;">
					<a>Amigos</a>
				</div>
			  </li>

			</ul>
		</div>

	</div>

</div>