<!DOCTYPE HTML>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="https://kit.fontawesome.com/ff670d92a2.js" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<%= stylesheet_link_tag "dashboard" %>
		<%= stylesheet_link_tag "side-bar" %>
		<%= stylesheet_link_tag "reaction" %>

		<meta charset="UTF-8">

	</head>

	<body>


		<div class="dashboard">

			<%= render partial: "topBar" %>

			<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			    <div class="modal-content"></div>
			  </div>
			</div>


		  	<div class="leftBar ">
		    	<%= render partial:"sideBar" %>
		    </div>

		    <div class="spaceDashboard">
	    	</div>

	    	<div class="timeline"> 

	    	    <div class="spaceLogoTimeline">
		    	</div>

	    		<%= render partial: "postCreation" %>
				<%= render partial:"postsRender" %>
			</div>

			<div class="tableRight">
				<%= render partial: "allUsers" %>
			</div>

		</div>
	</body>
</html>
