<!DOCTYPE HTML>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="https://kit.fontawesome.com/ff670d92a2.js" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<%= stylesheet_link_tag "dashboard" %>
		<%= stylesheet_link_tag "side-bar" %>
		<%= stylesheet_link_tag "reaction" %>

		<meta charset="UTF-8">

	</head>

	<body>
		<script>
			function changeReaction(button, owner_id, owner_type, user_id, ownerPost_id) {
				if (user_id == ownerPost_id)
				{

				}
				else
				{

					if (button.style.color == 'rgb(51, 51, 204)') {
						var counter_id = 'counter'+owner_type+owner_id+'_'+button.value;
						button.style.color = 'black';
						var counter = document.getElementById(counter_id).innerHTML;
						document.getElementById(counter_id).innerHTML = counter-1;
					}
					else {
						let types = ['type1', 'type2', 'type3', 'type4', 'dislike']

						for (let type of types) {
							otherReactionsId = 'reaction'+owner_type+owner_id+'_'+type;
							var element = document.getElementById(otherReactionsId)
							if (element.style.color == 'rgb(51, 51, 204)')
							{
								element.style.color = 'black';

								var counter_id = 'counter'+owner_type+owner_id+'_'+element.value;
								var counter = document.getElementById(counter_id).innerHTML;
								document.getElementById(counter_id).innerHTML = counter-1;
							}
						}

						var counter_id = 'counter'+owner_type+owner_id+'_'+button.value;
						button.style.color = 'rgb(51, 51, 204)';
						var counter = document.getElementById(counter_id).innerHTML;
						document.getElementById(counter_id).innerHTML = parseInt(counter)+1;
					}

					if (owner_type == 'PostOpen')
					{
						var buttonId = 'reactionPost'+owner_id+'_'+button.value; 
						button = document.getElementById(buttonId);
						changeReaction(button, owner_id, 'Post', user_id, ownerPost_id);
					}
				}

			}
		</script>

		<div class="dashboard">

			<%= render partial: "topBar" %>

			<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			    <div class="modal-content"></div>
			  </div>
			</div>


		  	<div class="leftBar ">
		    	<%= render partial:"sideBar" %>
		    </div>

		    <div class="spaceDashboard">
	    	</div>

	    	<div class="timeline"> 

	    	    <div class="spaceLogoTimeline">
		    	</div>

	    		<%= render partial: "postCreation" %>
				<%= render partial:"postsRender" %>
			</div>
			
			<div class="tableRight">
				<%= render partial: "allUsers" %>
			</div>

		</div>
	</body>
</html>
