<!DOCTYPE HTML>
<html>
	<head>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://kit.fontawesome.com/ff670d92a2.js" crossorigin="anonymous"></script>
		<%= stylesheet_link_tag "dashboard" %>
		<meta charset="UTF-8">

	</head>
	<body>
		<div class="dashboard">
			<div class="title">
				<strong>SITE NAME</strong>
			</div>
			<div class="topBar">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
				  <a class="navbar-brand" href="#">Menu</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarNav">
				    <ul class="navbar-nav">
				      <li class="nav-item active">
				        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">Profile</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">Chat</a>
				      </li>
				      <li class="nav-item">
				      	<a class="nav-link" href=<%= edit_user_registration_path %>>Edit Profile</a>
				      </li>
				      <li class="nav-item">
				        <a><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %></a>
				      </li>
				    </ul>
				  </div>
				</nav>
			</div>

			<div class="timeline">
				<div class="left">
					<div id="postCreation" class="card gedf-card">
						<%= form_with url: "/posts", authenticity_token: false do |f|%>
							<div class="card-header">
							</div>
							<div class="card-body">
								<textarea class="textArea" name="content" autofocus placeholder="Tell me a secret"></textarea>

								<input id="user_information" name="user_id" type="hidden", value="<%= current_user.id %>" />
							</div>

							<div class="actions">
							    <%= f.submit "Send", :class => 'btn btn-primay' %>
							</div>

						<% end %>
					</div>
				</div>
				<div class="middle">
					<div class="allPosts">
						<tbody>
						    <% Post.all.order(:id).reverse.first(10).each do |post| %>

						    	<div class="post">

							    	<div class="card">

							    		<div class="card-header">
									        <%= User.find(post.user_id).name %>
									    </div>

									    <div class="card-body">
									        <%= post.content %>
									    </div>

									 	<div class="card-footer">

									        <%= form_with url: "/reactions", authenticity_token: false do |f|%>
										       	<input id="user_id" name="user_id" type="hidden", value="<%= current_user.id %>" />
										       	<input id="owner_id" name="owner_id" type="hidden", value="<%= post.id %>" />
										       	<input id="owner_type" name="owner_type" type="hidden", value="Post" />

										        <div class="actions">
										   		 	<%= button_tag( :class => "fas fa-thumbs-up", :value => "type1" , :name => 'reactionType') do %>
													<% end %>
										   		 		<%= post.reactionType1 %>
										 	    </div>

										 	    <div class="actions">
											   		 <%= button_tag( :class => "fas fa-surprise", :value => "type2" , :name => 'reactionType') do %>
											   		 <% end %>
										   		 <%= post.reactionType2 %>
										 	    </div>

										 	    <div class="actions">
											   		 <%= button_tag( :class => "fas fa-angry", :value => "type3" , :name => 'reactionType') do %>
											   		 <% end %>
											   		 <%= post.reactionType3 %>
										 	    </div>

										 	    <div class="actions">
											   		 <%= button_tag( :class => "fas fa-sad-cry", :value => "type4" , :name => 'reactionType') do %>
											   		 <% end %>
											   		 <%= post.reactionType4 %>
										 			</div>

										 		<div class="actions">
											   		 <%= button_tag( :class => "fas fa-thumbs-down", :value => "dislike" , :name => 'reactionType') do %>
											   		 <% end %>
											   		 <%= post.dislikes %>
										 		</div>

										 	<% end %>

										 </div>

									</div>

								</div>

							 <% end %>

						</tbody>
					</div>
				</div>
				<div class="right">

					<table id="allUsers" class="table table-hover">

						<thead>
    						<tr>
     						 <th scope="col">User</th>
     						 <th scope="col">Status</th>
     						</tr>
     					</thead>
						  <% User.all.order(:id).first(10).each do |user| %>
						  	<tr>

							 	<% if current_user == user %>
								<% else %>


									 	<th class="userName"><%= user.name %></th>
									
							 			<td class="friendAction"> 

									 		<%= form_with url: "users/addFriend", method: :get, 
									 			authenticity_token: false do |f|%>
										 		<input id="user1_id" name="user1_id" type="hidden", value="<%= current_user.id %>" />
										 		<input id="user2_id" name="user2_id" type="hidden", value="<%= user.id %>" />

										 		<% if current_user.areWeFriends(user) %>
										 			<div class="actions">
											 			<%= button_tag( :class => "fas fa-user-friends") do %>
											 			<% end %>
											 		</div>

											 	<% elsif current_user.userRequestedFriendship(user) %>
											 		<div class="actions">
											 			<%= button_tag( :class => "fas fa-user-check") do %>
											 			<% end %>
											 		</div>

											 	<% elsif current_user.alreadySentRequest(user) %>
											 			<span class="fas fa-ellipsis-h" />
											 	<% else %>

											 		<div class="actions">
											   		<%= button_tag( :class => "fas fa-user-plus") do %>
											   		<% end %>
											 	  	</div>
										 		<% end %>
							 				<% end %>

						 				</td>

						 			</div>

								<% end %>

						 	</tr>

						  <% end %>

					</table>

				</div>
			</div>
		</div>
	</body>
</html>
