<% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
	<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<%= form_with url: "http://localhost:3000/posts", authenticity_token: false do |f|%>
	<div class="field">
	    <%= f.label :post %><br />
	    <%= f.text_field :content, autocomplete: "post" %>
	</div>

	<input id="user_information" name="user_id" type="hidden", value="<%= current_user.id %>" />

	<div class="actions">
	    <%= f.submit "Send" %>
	</div>
<% end %>

<tbody>
    <% Post.all.first(10).reverse.each do |post| %>
      <tr>
        <td><%= User.find(post.user_id).name %></td><br>
        <td><%= post.content %></td><br> 
      </tr>
          Rections: 
       	<%= form_with url: "http://localhost:3000/reactions", authenticity_token: false do |f|%>
       	<input id="user_id" name="user_id" type="hidden", value="<%= current_user.id %>" />
       	<input id="owner_id" name="owner_id" type="hidden", value="<%= post.id %>" />
       	<input id="owner_type" name="owner_type" type="hidden", value="Post" />
        <div class="actions">
   		 <%= f.submit "type1" , :name => 'reactionType' %>
   		 <%= post.reactionType1 %>
 	    </div>

 	    <div class="actions">
   		 <%= f.submit "type2" , :name => 'reactionType' %>
   		 <%= post.reactionType2 %>
 	    </div>

 	    <div class="actions">
   		 <%= f.submit "type3" , :name => 'reactionType' %>
   		 <%= post.reactionType3 %>
 	    </div>

 	    <div class="actions">
   		 <%= f.submit "type4" , :name => 'reactionType' %>
   		 <%= post.reactionType4 %>
 		</div>
 	  <% end %>
 	    <br>
 	    <br>
    <% end %>
</tbody>
