<!DOCTYPE HTML>
<html>
	<head>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://kit.fontawesome.com/ff670d92a2.js" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<%= stylesheet_link_tag "dashboard" %>
		<%= stylesheet_link_tag "dashboard" %>
		<%= stylesheet_link_tag "side-bar" %>
		<%= stylesheet_link_tag "reaction" %>
		<%= stylesheet_link_tag "profile" %>

		<meta charset="UTF-8">

	</head>

	<body>
		<%= render partial: "topBar" %> 
		<div class="dashboard">

		  	<div class="leftBar ">
		    	<%= render partial:"sideBar" %>
		    </div>

		    <div class="rightContentDashboard">
		    	<div class="spaceLogoTimeline">
		   		</div>

		    	<div class="rightTop">
		    		<div class="spaceTab">
					</div>

		    		<%= render partial: "userInformationTab" %>

		    		<div class="spaceTab">
					</div>
		    	</div>

		    	<div class="rightBotton">

				    <div class="spaceDashboard">
			    	</div>

			    	<div class="timeline"> 
						<%= render partial:"postsRender" %>
					</div>

					<div class="tableRight">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
